---
---

@import "minima";

.site-header {
    border-top: 5px solid #ffecd0;;
    border-bottom: 0px solid #ffecd0;;
    min-height: 55.95px;
    position: relative;
}

body {
  background-color: #ffecd0;
  color: #5b3917;
}

.site-footer {
    border-top: 1px solid #ffecd0;;
    padding: 30px 0;
}
